<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="userIO" class="ru.yakimov.services.UserIOConsole" />

	<bean id="questionProcessor" class="ru.yakimov.services.QuestionProcessorV1">
		<constructor-arg index="0" ref="userIO" />
	</bean>

	<bean id="questionGenerator" class="ru.yakimov.services.QuestionGenerator" />

	<bean id="quizReader" class="ru.yakimov.services.QuizReaderCsv">
		<constructor-arg index="0" value="quiz1.csv" type="java.lang.String" />
		<constructor-arg index="1" ref="questionGenerator" />
	</bean>

	<bean id="quiz" class="ru.yakimov.runner.QuizV1">
		<constructor-arg index="0" ref="quizReader" />
		<constructor-arg index="1" ref="userIO" />
		<constructor-arg index="2" ref="questionProcessor" />
	</bean>
	
</beans>
