<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="shell" class="ru.yakimov.services.Shell" />

	<bean id="questionProcessor" class="ru.yakimov.services.QuestionProcessor">
		<constructor-arg index="0" ref="shell" />
	</bean>
	
	<bean id="questionGenerator" class="ru.yakimov.services.QuestionGenerator" />

	<bean id="quizReader" class="ru.yakimov.services.QuizReader">
		<constructor-arg index="0" value="quiz1.csv" type="java.lang.String" />
		<constructor-arg index="1" ref="questionGenerator" />
	</bean>

</beans>
